@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #1a202c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
